@font-face {
font-family: "Angeline_Vintage";
src: url(../fonts/Angeline_Vintage.ttf); }

@font-face {
font-family: "Montserrat-Bold";
src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
font-family: "Roboto-Regular";
src: url(../fonts/Roboto-Regular.ttf); }

@font-face {
font-family: "Roboto-Italic";
src: url(../fonts/Roboto-Italic.ttf); }

@font-face {
font-family: "Rightland";
src: url(../fonts/Rightland.otf); }

@font-face {
font-family: "NhadiemElansRegular";
src: url(../fonts/NhadiemElansRegular.ttf); }

@font-face {
font-family: "Jennifer Ellis";
src: url(../fonts/Jennifer\ Ellis.ttf); }

@font-face {
font-family: "BeautifulPeople";
src: url(../fonts/BeautifulPeople.ttf); }

@font-face {
font-family: "Countryside";
src: url(../fonts/Countryside.ttf); }

@font-face {
font-family: "Sweet Hipster";
src: url(../fonts/SweetHipster.ttf); }

@font-face {
    font-family: "YouthTouch";
    src: url(../fonts/YouthTouch.ttf); }